<% const errorStack = error.stack %>
<% const errorName = errorStack.split(':')[0] %>
<% const errorMsg = error.message %>
<% const stackTrace = errorStack.replace(errorName, '').replace(errorMsg, '').replace(': \n', '') %>
    <%- include('partials/header')%>
    <div class="content">
        <div class="content-header">
            <h1>
                The website encountered funny!
            </h1>
            <%# .replace(/(\r\n|\r|\n)/g, '<br>').replace(/ /g,'&#160;') %>
            Tracing ID: <%- id %>
        </div>
        <div class="content-content">

            <div class="card-collapsible">
                <div class="card-collapsible-header">
                    <b><%- errorName %></b> <%- errorMsg.replace(/(\r\n|\r|\n)/g, '<br>').replace(/ /g,'&#160;') %>
                </div>
                <div class="card-content">
                    <% for (const line of stackTrace.split('\n')) { %>
                        <div style="font-weight: bold;">
                            <%- line.match(/(?<=at ).+(?= \()/) %>
                        </div>
                        <code>
                            <%- line.replace(process.cwd(), '').match(/(?<=\().+(?=\))/) %> <br>
                        </code>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer')%>