<%- include('partials/header')%>
    <%- getVueAssetsHTML() %>
        <div class="content">
            <div class="content-header">
                <h1 style="text-align: center;">
                    <strong>
                        Hi!
                    </strong>
                    Welcome to my website.
                </h1>
                <img src="/img/pfp.png" alt='profile picture' width="64" class="profile-pic">
                <style>
                    @media only screen and (max-width: 600px) {
                        .profile-pic {
                            display: none;
                        }
                    }
                </style>
                <div style="display: inline-block; vertical-align: top;">
                    <h2 style="margin-block: 0;">
                        <span class="discord-contact-label">
                            <i class="fab fa-discord" style="color: #5865F2;"></i>
                            skybird2333#3209
                        </span>
                        <span class="tag l-<%= presence %>">
                            <%= presence.toUpperCase() %>
                        </span>
                    </h2>
                    <b>
                        Web & Discord bot developer, Minecraft addon creator, Gamer
                    </b>
                </div>
                <br>
                <div class="card color-blue">
                    Hey, YOU! <a href="/portfolio" class="button primary">Check out my portfolio too!</a>
                </div>
            </div>
            <div class="content-content">
                <h1>Nonsense stuff I write</h1>
                <% for(const post of postList) {%>
                    <% if(!post) continue %>
                        <div class="card outline">
                            <div class="card-header">
                                <a href="/posts/<%=post.id %>" class="link">
                                    <%=post.title %>
                                </a>
                            </div>
                            <div style="color: var(--foreground-secondary)">
                                <%=post.subtitle %>
                            </div>

                            <% if(post.tags) {%>
                                <div style="margin-top: 7px">
                                    <% for(const tag of post.tags) {%>
                                        <a class="tag link" href="/tags/<%=tag %>">
                                            <%=tag %>
                                        </a>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                        <% } %>
                            <% if(!postList.length) {%>
                                None yet. Try refreshing?
                                <% } %>

                                    <h1>My projects</h1>

                                    <div id="app">
                                        <projects-showcase>

                                        </projects-showcase>
                                    </div>
                                    <script>
                                        var isAppMounted = false
                                        function mountVueApp() {
                                            if (isAppMounted) return console.warn('mountVueApp triggered twice')
                                            const { createApp } = window.vueMethods
                                            const { ProjectsShowcase } = window.vueComponents
                                            createApp(
                                                {
                                                    components: {
                                                        ProjectsShowcase
                                                    }
                                                }
                                            ).mount('#app')
                                            isAppMounted = true
                                        }
                                    </script>

            </div>
        </div>

        <style>
            .discord-contact-label {
                padding: 3px;
                border-radius: 3px;
                display: inline-block;
            }

            .l-online {
                background-color: #04AA6D;
            }

            .l-dnd {
                background-color: #ff0000;
            }

            .l-idle {
                background-color: #e6b839;
            }

            .l-offline {
                background-color: #3a3a3a;
            }
        </style>
        <%- include('partials/footer')%>