<%- include('partials/header')%>
    <div class="content">
        <div class="content-header">
            <h2>
                <strong>
                    Hi!
                </strong>
                Welcome to my website.
            </h2>
            <img src="/img/pfp.png" alt='profile picture' width="64" class="profile-pic">
            <style>
                @media only screen and (max-width: 600px) {
                    .profile-pic {
                        display: none;
                    }
                }
            </style>
            <div style="display: inline-block; vertical-align: top;">
                <h2 style="margin-block: 0;">
                    <span class="discord-contact-label">
                        <i class="fab fa-discord" style="color: #5865F2;"></i>
                        skybird2333#3209
                    </span>
                    <span class="label l-<%= presence %>">
                        <%= presence.toUpperCase() %>
                    </span>
                </h2>
                <b>
                    Web & Discord bot developer, Minecraft addon creator, Gamer
                </b>
            </div>
            <div class="card-collapsible">
                <div class="card-collapsible-header">
                    <div style="text-align: center; width: auto; display: block;">
                        Portfolio
                    </div>
                </div>
                <div class="card-content">
                    <h3>I am experienced in..</h3>
                    <div class="card">
                        <style scoped>
                            .skill-card {
                                border: 2px solid var(--background-secondary);
                                padding: 5px;
                                width: max-content;
                                border-radius: 4px;
                                display: inline-block;
                                margin-right: 3px;
                                margin-top: 3px;
                            }

                            .good {
                                border-color: rgb(71, 221, 71);
                                background-color: rgba(71, 221, 71, 0.1);
                            }

                            .moderate {
                                border-color: rgb(231, 201, 28);
                                background-color: rgb(231, 201, 28, 0.1);
                            }
                        </style>
                        <div class="skill-card good">
                            NodeJS/JS: 3 Years
                        </div>
                        <div class="skill-card good">
                            Typescript: 1 Year
                        </div>
                        <div class="skill-card good">
                            HTML/CSS: 2 Years
                        </div>
                        <div class="skill-card good">
                            Python: 2 Years
                        </div>
                        <div class="skill-card moderate">
                            Flutter: Learning
                        </div>
                        <div class="skill-card good">
                            Discord.js: 3 Years
                        </div>
                        <div class="skill-card good">
                            Electron: 2 Years
                        </div>
                        <div class="skill-card good">
                            Express: 2 Years
                        </div>
                        <div class="skill-card good">
                            Discord.py: 2 Years
                        </div>
                        <div class="skill-card good">
                            Vue: 2 Years
                        </div>
                    </div>
                    <h3>I can offer...</h3>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-2">
                            <div class="l-box card">
                                <h3><i class="mdl mdl-xml"></i>Web Apps/Website</h3>
                                <div style="color: var(--foreground-secondary); font-size: medium;">
                                    <ul>
                                        <li>Web application</li>
                                        <li>Landing pages</li>
                                        <li>Dashboard</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <div class="l-box card">
                                <h3>Server-side Apps</h3>
                                <div style="color: var(--foreground-secondary); font-size: medium;">
                                    <ul>
                                        <li>API Server</li>
                                        <li>Full-stack development</li>
                                        <li>Scheduled scripts</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <div class="l-box card">
                                <h3>Discord Apps</h3>
                                <div style="color: var(--foreground-secondary); font-size: medium;">
                                    <ul>
                                        <li>Staff Management</li>
                                        <li>Server Analytics, or</li>
                                        <li>Any custom features/commands!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <div class="l-box card">
                                <h3>Minecraft content</h3>
                                <div style="color: var(--foreground-secondary); font-size: medium;">
                                    <ul>
                                        <li>Function packs</li>
                                        <li>Entity add-ons</li>
                                        <li>Item add-ons</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-content">
            <h1>Nonsense stuff I write</h1>
            <% for(const post of postList) {%>
                <% if(!post) continue %>
                <div class="card outline">
                    <a href="/posts/<%=post.id %>" class="link">
                        <h3>
                            <%=post.title %>
                        </h3>
                    </a>
                    <%=post.subtitle %>

                    <% if(post.tags) {%>
                        <div>
                            <% for(const tag of post.tags) {%>
                                <span class="tag">
                                    <%=tag %>
                                </span>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <% } %>
                <% if(!postList.length) {%>
                    None yet. Try refreshing?
                <% } %>
                    
                    <h1>My projects</h1>
                    <div style="color: var(--foreground-secondary);">
                        Click on one to learn more!
                    </div>

                    <br>


                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            Math tools vue

                        </div>
                        <div class="card-content">
                            A simple web app for linear and trig calculations in Mathematics.<br>
                            <span class="button-container">
                                <a class="button button-github" href="https://github.com/skybird23333/math-tools-vue">
                                    Github Repository
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>
                            <div style="float: right">
                                <img src="/img/js-icon.png" width=32 alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            Ghost pinger

                        </div>
                        <div class="card-content">
                            A configurable script to spam ghost ping someone in a Discord server.<br>
                            <span class="button-container">
                                <a class="button button-github" href="https://github.com/skybird23333/ghost-pinger">
                                    Github Repository
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>
                            <div style="float: right">
                                <img src="/img/js-icon.png" width=32 alt="">
                                <img src="/img/djs-icon.png" width=32 alt="">
                            </div>
                        </div>
                    </div>

                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            UHC Function Addon
                        </div>
                        <div class="card-content">
                            A lightweight, compatible, fully customizable addon for hosting UHC Games, large or
                            small.<br>
                            <span class="button-container">
                                <a class="button button-github"
                                    href="https://github.com/skybird23333/mc-bedrocc-UHC-function">
                                    Github Repository
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>
                            <span class="button-container">
                                <a class="button button-mcpedl" href="https://mcpedl.com/uhc-function-addon">
                                    MCPEDL Page
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>

                        </div>
                    </div>

                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            Corecoder: Develop
                        </div>
                        <div class="card-content">
                            <img src="https://raw.githubusercontent.com/Hanprogramer/corecoder_develop/main/.github/Screenshot_CC3.png"
                                alt="" style="width: 100%">

                            Extensible cross-platform IDE for Android and Desktop. Featuring Syntax highlighting, fast
                            startup, and extensible plugins.<br>

                            <span class="button-container">
                                <a class="button-github button"
                                    href="https://github.com/Hanprogramer/corecoder_develop">
                                    Project Repository
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>

                            <div style="float: right">
                                <img src="/img/flutter-icon.jpg" width=32 alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            Meds Addon
                        </div>
                        <div class="card-content">
                            Meds addon brings modern medicines such as bandages and pills into Minecraft, providing a
                            lightweight and convenient alternative to healing other than vanilla potions.<br>
                            <span class="button-container">
                                <a class="button-mcpedl button" href="https://mcpedl.com/meds-addon/">
                                    MCPEDL Page
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="card-collapsible">
                        <div class="card-collapsible-header">
                            Airdrop Addon
                        </div>
                        <div class="card-content">
                            The airdrop addon adds airdrops into Minecraft survival mode, and also a flare gun that can
                            be
                            crafted.
                            <br>
                            <span class="button-container">
                                <a class="button-mcpedl button" href="https://mcpedl.com/airdrop-addon/">
                                    MCPEDL Page
                                </a>
                            </span>
                            <i class="fas fa-external-link-alt"></i>
                            </a>
                        </div>
                   </div>
        </div>
    </div>

    <style>

        .discord-contact-label {
            padding: 3px;
            border-radius: 3px;
            display: inline-block;
        }

        .label {
            color: white;
            padding: 2px;
            border-radius: 3px;
        }

        .l-online {
            background-color: #04AA6D;
        }

        /* Green */
        .l-dnd {
            background-color: #ff0000;
        }

        .l-idle {
            background-color: #e6b839;
        }

        .l-offline {
            background-color: #3a3a3a;
        }
    </style>
    <%- include('partials/footer')%>