<%- include('partials/header')%>
    <% if (contents.length) { %>
        <div class="side-contents">
            <h3>Contents</h3>
            <% contents.forEach(link=> { %>
                <a href="#<%= link.id %>">
                    <%= link.text %>
                </a>
                <% }) %>
        </div>
        <% } %>
            <div class="content">
                <div class="content-header">
                    <h1 style="margin-block-end: 5px;">
                        <%= post.title %>
                    </h1>
                    <h3>
                        <%= post.subtitle %>
                    </h3>
                    <% const published=new Date(post.published) %>
                        <i class="fas fa-user"></i>
                        <%= post.author %>
                            <i class="fas fa-clock"></i>
                            <%= `${published.getFullYear()}/${published.getDate()}/${published.getMonth()}
                                ${published.getHours()}:${published.getMinutes()}` %>
                </div>
                <div class="content-content">
                    <%- post.renderedContent %>
                </div>
            </div>
            <%- include('partials/footer')%>