<%- include('../partials/header')%>
    <%- include('./partials/secret-sidebar')%>
        <div class="content">
            <div class="content-header">
                <h1 style="margin-block-end: 5px">Posts</h1>
            </div>
            <div class="content-content">
                <table class="table">
                    <caption>List of posts</caption>
                    <tr style="text-align: left">
                        <th>Title</th>
                        <th>By</th>
                        <th>Actions</th>
                    </tr>
                    <% postList.forEach(post=> { %>
                        <tr>
                            <td>
                                <%=post.title %>
                            </td>
                            <td>
                                <%=post.author %>
                            </td>
                            <td>
                                <a class="link" href="/posts/<%= post.id %>">
                                    View
                                </a>
                                <a class="link" href="/secret/update-post/<%= post.id %>">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
        </div>
        <%- include('../partials/footer')%>